{
  "extends": "standard",
  "rules": {
    "curly": ["error", "all"],
    "array-bracket-spacing": ["error", "always"],
    "arrow-parens": "error",
    "no-lonely-if": "error",
    "max-len": ["error", {
      "ignoreComments": true,
      "ignoreRegExpLiterals": true,
      "ignoreUrls": true
    }]
  }
}