dist: trusty
language: node_js
node_js:
  - lts/erbium
install:
  - npm ci
cache:
  directories:
    - $HOME/.npm
jobs:
  include:
    -
      stage: test
      before_script:
        - mysql -e 'CREATE DATABASE IF NOT EXISTS eb_db_test;'
        - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
        - chmod +x ./cc-test-reporter
        - ./cc-test-reporter before-build
      script:
        - npm test
      after_script:
        - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
    -
      stage: publish
      script: npm run build
      deploy:
        -
          provider: pages
          github_token: $GITHUB_TOKEN
          skip_cleanup: true
          keep_history: true
          local_dir: ./docs/eris-boiler/$TRAVIS_TAG
          committer_from_gh: true
          on:
            tags: true
        -
          provider: npm
          email: $NPM_EMAIL
          api_key: $NPM_API_KEY
          on:
            tags: true
stages:
  -
    name: test
    if: type = pull_request OR branch =~ /^(master|dev)$/
  -
    name: publish
    if: tag IS present
